<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="labs.zero_one.roundo">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:persistent="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="labs.zero_one.roundo.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SetupActivity"
            android:label="@string/setup_title"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"/>

        <activity
            android:name=".PreferenceMainActivity"
            android:label="@string/pref_main_title"
            android:screenOrientation="portrait"
            android:parentActivityName="labs.zero_one.roundo.MainActivity"/>

        <activity
            android:name=".PreferenceAboutActivity"
            android:label="@string/pref_about_title"
            android:screenOrientation="portrait"
            android:parentActivityName="labs.zero_one.roundo.PreferenceMainActivity"/>

        <service
            android:name=".BackgroundMissionService"
            android:description="@string/service_description"
            android:exported="false" />

    </application>

</manifest>